aws_region     = "region"
aws_access_key = "access_key"
aws_secret_key = "secret_key"
sitelatitude   = "lat"
sitelongitude  = "long"
clustername    = "ce_cluster_name"
sitetoken      = "token"
az1            = "us-east-2a"
az2            = "us-east-2b"
az3            = "us-east-2c"