aws_region                     = "aws_region"
aws_access_key                 = "ACCESS_KEY"
aws_secret_key                 = "SECRET_KEY"
sitelatitude                   = "LAT"
sitelongitude                  = "LONG"
clustername                    = "name"
# sitetoken                      = "7cb2ea31-2599-410b-ab72-36be3a7dbefd"
az1                            = "aws_regiom_az"
az2                            = "aws_regiom_az"
az3                            = "aws_regiom_az"
natgtwy                        = "nat-id"
vpc                            = "vpc-id"
SecurityServiceInsideCIDRAZ1   = "SLI_subnet"
SecurityServiceOutsideCIDRAZ1  = "SLO_subnet"
SecurityServiceWorkloadCIDRAZ1 = "workload_subnet"
sec_group                      = "security_group"
api_url                        = "https://tenant.ves.volterra.io/api"
cred                           = "xc_aws_cred"
api_p12_file                   = "path_to_p12"
api_cert                       = "path_to_p12"
api_key                        = "path_to_p12"
ssh_key                        = "public_ssh_key"
tenant                         = "tenant_id"

